# ===============================
# Dependencias principales
# ===============================
# Este archivo contiene las dependencias principales del proyecto.
# Asegúrate de que este archivo esté en la raíz del proyecto.
# Puedes instalar las dependencias ejecutando:
# pip install -r requirements.txt
jupyter
matplotlib
numpy
pandas
scikit-learn